.header {
 display: flex;
 background-color: white;
 padding: 20px;
 border: 1px solid #d5d8df;
}

.search-icon {
 background-image: url('../icons/search.svg');
 background-color: transparent;
 align-self: center;
 width: 32px;
 height: 32px;
 margin-right: 10px;
}

.search-input{
 flex: 1;
 border: none;
 font-size: 20px;
}

.search-input:focus {
 outline-color: #9daac9;
}

.add-contact {
 background-image: url('../icons/person-add.svg');
 background-color: transparent;
 height: 40px;
 width: 40px;
 padding-left: 20px;
 cursor: pointer;
}